body{
  background-color: rgba(26, 101, 5, 0.308);
  margin: 0;
  padding: 0;
}

.to-do-list{
  font-family: poppins, sans-serif;
  text-align: center  ;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
  color: hsla(0, 0%, 100%, 0.8);
}

button{
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  
}

.add-button{
  background-color: #4CAF50;
}
.add-button:hover{
  background-color: #4caf4f6d;
}

.delete-button{
  background-color: #f44336;
}
.delete-button:hover{
  background-color: #f4433687;
}


.icon {
  width: 20px;
  height: 20px;
}

.edit-input {
  font-size: 1rem;
  padding: 5px;
  flex: 1;
}



input[type="text"]{
  padding: 10px;
  width: 300px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  color: hsla(0, 0%, 0%, 0.504);
}

ol {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* centers each list item horizontally */
  margin-top: 20px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* space between checkbox, text, and delete button */
  width: 100%;
  max-width: 500px;  /* you can adjust this width as needed */
  padding: 10px;
  margin-bottom: 10px;
  background-color: hsla(0, 0%, 97%);
  border: 3px solid hsla(0, 0%, 85%, 0.75);
  border-radius: 5px;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.text{
  flex: 1;
  font-size: 1.2rem;
  color: hsla(0, 0%, 0%, 0.8);
}

.delete-button, .move-buttons, .add-button, .toggle-button{
  margin-left: 10px;
  padding: 8px 12px;
 
}

.completed {
  text-decoration: line-through;
  color: gray;
}